VITE_SERVER_URL=http://localhost:8000

VITE_RAZORPAY_KEY_ID=

VITE_FIREBASE_APIKEY=
VITE_FIREBASE_AUTHDOMAIN=
VITE_FIREBASE_PROJECTID=
VITE_FIREBASE_STORAGEBUCKET=
VITE_FIREBASE_MESSAGINGSENDERID=
VITE_FIREBASE_APPID=
VITE_FIREBASE_MEASUREMENTID=

VITE_ZEGO_APP_ID=
VITE_ZEGO_SERVER_SECRET=

VITE_DEFAULT_COURSE_THUMBNAIL=https://res.cloudinary.com/df5jasvzx/image/upload/default-thumbnail_uhf9kp.png
